@import "antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: #4d4d4d;
}

/* Main container of the to-do list */
.mainForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  min-width: 400px;
  padding: 1rem;
  border: 0.5px solid #52c41a;
  border-radius: 5px;
}

#taskCounter {
  margin-top: 1rem;
  font-weight: bold;
  color: #4d4d4d;
}

/* Container for the All, Active, Completed buttons */
.taskDisplayOptions {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

/* Styling for the All, Active, Complete button themselves*/
.taskDisplayOptions button {
  flex-grow: 1;
  flex-basis: 5rem;
}

#newTaskName {
  height: min-content;
}

/* Edit and Delete buttons container */
.taskEditBtns {
  display: flex;
  justify-items: center;
  gap: 1rem;
}

/* the Edit and Delete buttons themselves*/
.taskEditBtns button {
  flex-grow: 1;
}

/* Displays which option is currently selected */
.taskDisplayOnFocus {
  /* outline: rgb(75, 75, 168) dashed 2px;
  text-decoration: underline; */
  color: #1890ff;
  border-color: #1890ff;
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #4d4d4d;
  font-weight: bolder;
  content: "";
  appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border: 1.5px solid rgb(110, 108, 108);
}

input[type="checkbox"]:checked::after {
  content: "\2714";
}
